.contFooter{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem; 
    padding: 2.5rem;
    color: #767676;
   background-color: #1a1623;
   line-height: 1.5;
   
}
.marca{
   
}
.enlace{

}
.contacto a{
color:  #eb6427;
}

footer h3 {
    color: white;
}

.enlaces li {
    color:  #eb6427;
list-style-type: none;
}