.header {
    width: 100%;
    height: 1.5cm;
    background-color: #eb6427;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 999;
}

.contLogo {
    height: 100%;
    display: flex;
    align-items: center;
    object-fit: contain;
}

.contLogo img {
    height: 80%;
}

.nav ul {
    display: flex;
    gap: 3rem;
    list-style-type: none;

}

.nav li {
    color: white;
    font-weight: 500;


}