/*body {
    background-color: yellow;
}*/

/*.red {
    background-color: red;
}*/

.blue {
    background-color: blue;
}

.error {
    color: red;
}

.popup-edit {
    background-color: orange;
    padding: 20px;
}
 
input, textarea {
    display: block;
    padding: 10px;
}